<% if current_admin != nil %>
<h2>All Cohorts</h2>
<% @cohorts.each do |c| %>
<ul>
<li> <%= link_to "Landing Page for #{c.name}", user_cohort_path(c.course_id, c) %> </li> <br>
  <% if current_admin != nil %>
    <%= link_to 'Delete Cohort', user_cohort_path(c.course_id, c), data: {confirm: 'This will delete the cohort.'}, :method=> :delete %>
  </li>
</ul>
<%end%>
<%end%>
<%else%>
<p>You do not have permission to view this page</p>
<%end%>
