<% if current_admin != nil %>
<h2>Cohorts matching "<%=@results%>" </h2>

<% @final_results.each do |res| %>

<%= link_to "#{res.name}", user_cohort_path(res.course_id, res) %> <br>
<%end%>

<%else%>
<p>You do not have access to this.</p>
<%end%>
