<% if current_admin != nil %>
<h2>All Instructors</h2>
<% @users.each do |u| %>
<ul>
<li> <%= link_to "#{u.first_name}'s Profile", u %> <br>
 Employee ID: <%=u.employee_id%> <br>
 <%= link_to 'Fire Instructor', u, data: {confirm: 'This will terminate the instructor.'}, :method=> :delete %>
 </li>
</ul>
<%end%>
<%else%>
<p>You do not have access to this.</p>
<%end%>
