<% if current_admin != nil %>
<h2>All Instructors</h2>
<% @users.each do |u| %>
<ul>
<h3> <%= link_to "#{u.first_name}'s Profile", u %> </h3>
</ul>
<%end%>
<%else%>
<p>You do not have access to this.</p>
<%end%>
