<% if current_admin != nil %>
<h2>Instructors matching "<%=@results%>" </h2>

<% @final_results.each do |res| %>

<%= link_to "#{res.full_name}", res %> <br>
<%end%>

<%else%>
<p>You do not have access to this.</p>
<%end%>
