<h2>Log In</h2>
<%= form_for @user do |u| %>
<%= u.email_field :email, placeholder: "Enter user's email", required: true %><br>
<%= u.password_field :password, placeholder: "create a password", required: true %><br>
<%= u.submit "Log In" %>
<%end%>
