/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --testBorder: 2px solid rgb(0, 0, 0);
  --gray: rgb(165, 169, 178);
  --green: rgb(48,182,137);
  --red: rgb(202, 28, 36);
  --offwhite: rgb(241, 239, 242);
}

html {
font-family: 'Nunito', sans-serif;
  line-height: 2.7vh;
  background-image: url("/background.png");
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template: 15% 60% 15% / 25% 45% 25%;
  grid-gap: 2%;
  padding: 1%;
}


a {
  text-decoration: none;
  color: var(--green);
  transition-duration: 1s;
}

nav a:hover {
  font-size: 2.32vh;
  transition-duration: 1s;
}

nav {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  height: 100%;
  width: 85%;
  display: grid;
  grid-template: 100% / 25% 25% 25% 25%;
  padding-left: 13%;
  padding-top: 0.5%;
  padding-bottom: 0.75%;
  padding-right: 0;
  border-bottom: 1px solid var(--red);
}

nav a:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  margin-bottom: 4%;
  max-width: 65%;
  max-height: 95%;
}

nav a:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  margin-bottom: 4%;
    max-width: 65%;
    max-height: 95%;
}

nav a:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 1 / 1;
  margin-bottom: 4%;
    max-width: 65%;
    max-height: 95%;
}

nav a:nth-child(7) {
  grid-column: 4 / 5;
  grid-row: 1 / 1;
  margin-bottom: 4%;
    max-width: 65%;
    max-height: 95%;
}

.mainContent {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  height: 70vh;
  width: 75vw;
  overflow-y: auto;
  margin-top: 2%;
  padding: 5%;
  animation-duration: 2.5s;
  margin-left: 10%;
}

.mainContent:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 10.75%;
  left: 2%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 0.85) 90%);
  width: 95%;
  height: 4.5em;
}


.searchTitle {
  margin-left: 7%;
}

.mainContent form {
  margin-left: 7%;
}

.mainContent small p {
  margin-left: 7%;
}

.mainContent img {
  max-height: 20%;
  border: 2px solid var(--gray);
}

.mainContent p {
  word-break: normal;
  max-width: 45%;
}

.hidden {
  opacity: 0;
}

.userInfo img {
  max-width: 20%;
  box-shadow: 2px 2px 8px black;
}

footer {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 1%;
  border-top: 1px solid var(--red);
}

#opener {
  border: none;
  color: var(--red);
  font-size: 2vh;
}

form input {
  border-radius: 3px;
  margin-bottom: 0.5%;
}
